<!DOCTYPE html>
<html lang="en">
<head>
    {% if title == "new" %}
    <title>User Story Manager  - Add new Story</title>
    {% elif title == "edit" %}
    <title>User Story Manager - Edit Story</title>
    {% endif %}
</head>
<body>
{% if title == "new" %}
<h1>User Story Manager - Add new Story</h1>
<form action="/story" method="post">
    <p>Story Title:<br>
    <input type="text" size=51 name="title"></p>
    <p>User Story:<br>
    <textarea name="story" rows=5 cols=40></textarea></p>
    <p>Acceptance Criteria:<br>
    <textarea name="criteria" rows=5 cols=40></textarea></p>
    <p>Business Value:<br>
    <input type="number" name="value" min="100" max="1500" step="100" value="500"></p>
    <p>Estimation:<br>
    <input type="number" name="estimation" min="0.5" max="40" step="0.5" value="2"></p>
    <p>Status:<br>
    <select name="status">
        <option value="planning">Planning</option>
        <option value="todo">To Do</option>
        <option value="inprogress">In Progress</option>
        <option value="review">Review</option>
        <option value="done">Done</option>
    </select></p>
    <button type="submit" value="Submit">Save</button>
</form>
{% elif title == "edit" %}
<h1>User Story Manager - Edit Story</h1>
<form action="/story/<story_id>" method="post">
{% for entry in entries %}
    <p>Story Title:<br>
    <input type="text" size=51 name="title" value={{ entry.title }}></p>
    <p>User Story:<br>
    <textarea name="story" rows=5 cols=40>{{ entry.story }}</textarea></p>
    <p>Acceptance Criteria:<br>
    <textarea name="criteria" rows=5 cols=40>{{ entry.criteria }}</textarea></p>
    <p>Business Value:<br>
    <input type="number" name="value" min="100" max="1500" step="100" value={{ entry.value }}></p>
    <p>Estimation:<br>
    <input type="number" name="estimation" min="0.5" max="40" step="0.5" value={{ entry.estimation }}></p>
    <p>Status:<br>
    <select name="status">
        <option selected>{{ entry.status }}</option>
        <option value="planning">Planning</option>
        <option value="todo">To Do</option>
        <option value="inprogress">In Progress</option>
        <option value="review">Review</option>
        <option value="done">Done</option>
    </select></p>
    <button type="submit" value="Submit">Update</button>
</form>
{% endfor %}
{% endif %}
</body>
</html>