{% extends "index.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>User Story Manager</h1>
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Story Title</th>
                    <th>User Story</th>
                    <th>Acceptance Criteria</th>
                    <th>Business Value</th>
                    <th>Estimation</th>
                    <th>Status</th>
                </tr>

            {% for entry in entries %}

                <tr>
                    <td>{{ entry.id }}</td>
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.story }}</td>
                    <td>{{ entry.criteria }}</td>
                    <td>{{ entry.value }}</td>
                    <td>{{ entry.estimation }}</td>
                    <td>{{ entry.status }}</td>
                    <td>
                        <a href="/story/{{ entry.id }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <form action="{{ url_for('delete_row') }}" method="post">
                            <button type="submit" name="bin" value={{ entry.id }}>
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <p><em>Unbelievable.  No entries here so far</em></p>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
